CVS
RCS
.svn
.classpath
.settings
.project
.metadata
target
build
DerivedData

*.class
*.o
*.com
*.class
*.dll
*.exe
*.o
*.so

*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db